<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @topic.name if @topic %>
</p>

<p>
  <b>Image Description:</b>
  <%= @topic.description if @topic %>
</p>

<p>
  <b>Image Url:</b>
  <%= @topic.img_url if @topic %>
</p>